{% extends "@a/layout.twig" %}

{% block scripts %}
{% endblock %}

{% block content %}

    <section class="content">


        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ title }}</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {{ form.output|raw }}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>

    {{ editorEmbedCode|raw }}

{% endblock %}
