{% extends "@a/layout.twig" %}

{% block scripts %}
{% endblock %}

{% block content %}

    <section class="content">
        <div class="card">
            <div class="card-body">
                {{ form.output|raw }}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>

    {{ editorEmbedCode|raw }}

{% endblock %}
